html,
body {
  background-color: #f4d04e;
  height: 99vh;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
}

.card {
  width: 384px;
  height: 522px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px;
}

.content {
  display: block;
  margin: 24px;
}

.status {
  background-color: #f4d04e;
  padding: 4px 12px;
  font-weight: bold;
  font-size: 14px;
  flex-shrink: 3;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.text-content > * {
  margin: 3px 0px;
}

.description {
  color: #7f7f7f;
}

.profile-picture {
  width: 32px;
  display: inline-block;
  vertical-align: middle;
}

.author {
  margin-top: 22px;
}

.author-name {
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
}

.illustration {
  border-radius: 10px;
}
